<div class="main">
<div class="image123">
    <div class="table1" >
        <img src="assets/images/1.jpg" height="200" width="200"  />
        <p style="text-align:center;">This is image 1</p>
    </div>
    <div class="table1">
        <img src="assets/images/2.jpg" height="200" width="200"  />
        <p style="text-align:center;">This is image 1</p>
    </div><div class="table1">
        <img src="assets/images/3.jpg" height="200" width="200"  />
        <p style="text-align:center;">This is image 1</p>
    </div>
</div>
</div>